{% extends "base.html.j2" %}
{#- Publication dates for search engines: OpenGraph article times and a schema.org Article. -#}
{% block head %}
{% if page.date %}
{% set published = page.date | date("%Y-%m-%dT%H:%M:%S%:z") %}
{% set modified = page.lastmod | default(page.date) | date("%Y-%m-%dT%H:%M:%S%:z") %}
<meta property="article:published_time" content="{{ published }}">
<meta property="article:modified_time" content="{{ modified }}">
<script type="application/ld+json">
{"@context": "https://schema.org", "@type": "Article", "headline": {{ page.title | json | replace("</", "<\\/") }}, "url": {{ page.permalink | json }}, "datePublished": "{{ published }}", "dateModified": "{{ modified }}"{% if site.params.author.name %}, "author": {"@type": "Person", "name": {{ site.params.author.name | json }}}{% endif %}{% if site.params.publisher %}, "publisher": {"@type": "Organization", "name": {{ site.params.publisher | json }}}{% endif %}{% if page.description %}, "description": {{ page.description | json | replace("</", "<\\/") }}{% endif %}}
</script>
{% endif %}
{% endblock %}
{% block main %}
{% set p = site.params %}
<div class="container mx-auto">
  <h1 class="text-4xl font-extrabold mt-6 mb-6">{{ page.title }}</h1>
  <div class="mb-3 text-sm flex justify-between">
    <div>
      {% if p.display_date and page.date %}
      First published &mdash; <time datetime="{{ page.date | date("%Y-%m-%d") }}">{{ page.date | date("%b %d, %Y") }}</time><br>
      {% if page.lastmod %}Last updated &mdash; <time datetime="{{ page.lastmod | date("%Y-%m-%d") }}">{{ page.lastmod | date("%b %d, %Y") }}</time><br>{% endif %}
      {% endif %}
      {% if page.draft %}<span class="ml-3 tag">DRAFT</span>{% endif %}
    </div>
    {% set tags = page.terms_for("tags") %}
    {% if tags | length > 0 %}
    <div>{% for t in tags %}<a class="ml-1" href="{{ t.url }}">#{{ t.term }}</a>{% endfor %}</div>
    {% endif %}
  </div>
  <main class="mb-8">
    {% if page.description %}<div class="mb-3">{{ page.description | markdown }}</div>{% endif %}
    {% if page.banner %}<div id="banner" style="background-image: url('{{ page.banner }}');"></div>{% endif %}
    <article class="md">
      {% include "partials/series.html.j2" %}
      {% if page.toc | default(p.toc) %}{% include "partials/toc.html.j2" %}{% endif %}
      <div class="article_body">
      {{ content }}
      </div>
      {% include "partials/series.html.j2" %}
      {% include "partials/links.html.j2" %}
    </article>
  </main>
  {% include "partials/plugins.html.j2" %}
</div>
{% endblock %}
